package main

func apiKey() string {
  return "implement me bro!"
}

func dbName() string {
  return "implement me bro!"
}

func dbPass() string {
  return "implement me bro!"
}

func dbSSLMode() string {
  return "implement me bro!"
}

func dbUser() string {
  return "implement me bro!"
}
